* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  /* border: 3px none whitesmoke; */
  /* border-style: groove; */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

header {
  background: #b7b7b7;
  /* background-image: url(./image-video/home_slider.jpg); */
  color: white;
  border: none white;
  font: 20px;
}
header nav a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 20px;
}

header .logo {
  font-size: 20px;
  font-weight: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* star banner */
.banner {
  height: 80vh;
  background-image: url(./image-video/home_slider.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner__container {
  /* border: 3px solid; */
  width: 50%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner__container h2 {
  font-size: 75px;
  font-weight: 700px;
  margin: 30px 0px;
  color: #ffffff;
}
.banner__container p {
  font-size: 25px;
}
.banner__container button {
  padding: 10px 30px;
  border: none;
  background: orangered;
  color: whitesmoke;
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
}

.banner__container button:hover {
  background: plum;
  transition: 0.3s;
}

.banner__container i {
  margin-top: 20px;
  font-size: 35px;
  animation: arrowsAnimation 2s infinite;
}
/* end banner */

/* star carousel */
.carousel {
  padding: 80px 0px;
  background: #000;
}
h2 {
  color: red;
}
.carousel__title {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.carousel__title h2 {
  font-size: 14px;
  font-weight: 300px;
}
.carousel__title span {
  font-size: 50px;
  font-weight: 400px;
}
.carousel__title p {
  color: #888888;
  font-weight: 700px bolder;
  margin-top: 20px;
  font-size: 16px;
}
.carousel__item {
  /* border: 1px solid blue; */
  color: whitesmoke;
  padding: 15px;
}
/* end carousel */

.item__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  height: 300px;
  background: rgb(23, 13, 13);
  color: #888888;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  padding: 50% 0px;
  border: solid greenyellow;
}

.item__content::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 7px;
  height: 0px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 51%, #f55f8d 100%);
  display: block;
}
.item__content:hover::after {
  height: 100%;
  transition: 0.7s;
}

.slick-dots li button:before {
  color: silver;
  opacity: 0.8;
  font-size: 10px;
}

.slick-dots li.slick-active button:before {
  color: #e62b4a;
  opacity: 0.8;
  font-size: 10px;
}

@keyframes arrowsAnimation {
  from {
    transform: translateY(0px);
    opacity: 1;
  }

  to {
    transform: translateY(100px);
    opacity: 0;
  }
}

/* star blog */
.blog__title {
  text-align: center;
  padding: 80px 0;
  font-size: 50px;
}
.blog__title p {
  font-size: 16px;
  font-weight: 400px;
}
.blog__title h4 {
  font-size: 19px;
  color: #888888;
}
.blog__title h6 {
  font-size: 50px;
  font-weight: 400px;
}
.blog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 100%;
  gap: 30px;
  aspect-ratio: 1 / 1;
}

.blog__item {
  overflow: hidden;
  /* nếu element child position: absolute thì element cha position: relative */
  position: relative;
  /* aspect-ratio: 1 / 1; */
}
/* a dùng sai grid ở chỗ này */
.blog__item.item-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.blog__item.item-8 {
  grid-column: 3 / 5;
  grid-row: 3 / 5;
}
.blog__item .blog__overlay {
  background-color: rgba(43, 230, 43, 0.6);
  /* ko dùng width và height chỗ này */
  /* widows: 100%;
  height: 100%; */
  /* thay vào đó dùng top, right, bottom, left */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.3s;
  opacity: 0;
  color: white;
  /* chỗ này vì cái overplay nó phải nằm bên trên tấm hình nên position: absolute */
  position: absolute;
}
.overlay__search {
  position: absolute;
  width: 50px;
  height: 50px;
  background: #000;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100px);
}
.blog__overlay-hover {
  transition: 0.3s;
  transform: translateY(70px);
}

.blog__item:hover .blog__overlay-hover {
  transform: translateY(0px);
}
.blog__item:hover .blog__overlay {
  opacity: 1;
}

.overlay__title {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.blog__item:hover .blog__overlay {
  opacity: 1;
  transform: translateY(0px);
}
/* end blog  */
.blog__item img {
  width: 100%;
  height: 100%;
  filter: grayscale(50%) contrast(50%);
  object-fit: cover;
  transition: all 0.5s;
}
.blog__overlay {
  top: 0px;
  left: 0px;
}

/* STAR NUMB */
.number__content {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-size: 50px;
  background: #000;
  margin-top: 60px 0px;
  padding: 100px 0px;
  color: white;
}

.numbers {
  margin-top: 80px;
  background: black;
  padding: 80px 0px;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
}

.number__item p {
  font-size: 80px;
}

.number__item span {
  font-size: 25px;
  font-weight: bolder;
  color: slategrey;
}
/* END NUMB */

/* star exp */
.experience {
  background: #000;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience__title {
  text-align: center;
}

.experience__title h5 {
  font-size: 50px;
  font-weight: 400;
}
.experience__title span {
  font-size: 20px;
  color: #e62b4a;
  font-weight: 300;
}
.experience__title p {
  font-size: 16px;
  color: #888888;
  font-weight: 700;
  margin-top: 20px;
}
.experience__content video {
  width: auto;
  padding: 30px 0px;
  /* object-fit: cover; */
  border: none;
  justify-content: center;
  box-shadow: 0 2px 10px 1px rgb(0 0 0 / 50%);
  outline: none;
  align-items: center;
}

/* end exp */

/* star cont */
.contact {
  padding: 80px 0px;
}

.contact .map {
  height: 100%;
  width: 60%;
  flex-shrink: 0;
}

.contact .form {
  height: 100%;
  flex-grow: 1;
}

.contact form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.contact form * {
  padding: 20px;
}

.contact textarea {
  height: 40%;
}

.contact form button {
  padding: 20px 30px;
  border: 1px solid black;
  background-color: #000;
  color: #ffffff;
  letter-spacing: 1px;
  cursor: pointer;
  font-size: 24px;
}

/* .contact__content button :hover {
  transition: 0.4s;
  background: pink;
} */
.contact__content {
  display: flex;
  height: 500px;
}
/* end cont */

footer {
  background: #000;
  padding: 5px 0px;
}
.footer__content {
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
  display: flex;
}
.footer__content p {
  font-size: 28px;
  font-weight: bolder;
  color: #ffffff;
}

.icon a {
  width: 54px;
  height: 54px;
  display: inline-block;
  border-radius: 50%;
  line-height: 54px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  margin-left: 5px;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.footer__content .icon :hover {
  transition: 0.4s;
  background: pink;
}
