* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.container {
  /* border: 3px none whitesmoke; */
  /* border-style: groove; */
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

header {
  background: #b7b7b7;
  /* background-image: url(./image-video/home_slider.jpg); */
  color: white;
  border: none white;
  font: 20px;
}
header nav a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 20px;
}

header .logo {
  font-size: 20px;
  font-weight: 100px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/* star banner */
.banner {
  height: 80vh;
  background-image: url(./image-video/home_slider.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.banner__container {
  /* border: 3px solid; */
  width: 50%;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner__container h2 {
  font-size: 75px;
  font-weight: 700px;
  margin: 30px 0px;
  color: #ffffff;
}
.banner__container p {
  font-size: 25px;
}
.banner__container button {
  padding: 10px 30px;
  border: none;
  background: #e62b4a;
  color: whitesmoke;
  font-size: 20px;
  cursor: pointer;
  text-transform: uppercase;
}

.banner__container button:hover {
  background: #926a71;
  transition: 0.3s;
}

.banner__container i {
  margin-top: 20px;
  font-size: 35px;
  animation: arrowsAnimation 2s infinite;
}
/* end banner */

/* star carousel */
.carousel {
  padding: 80px 0px;
  background: #000;
}
h2 {
  color: red;
}
.carousel__title {
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.carousel__title h2 {
  font-size: 14px;
  font-weight: 300px;
}
.carousel__title span {
  font-size: 50px;
  font-weight: 400px;
}
.carousel__title p {
  color: #888888;
  font-weight: 700px bolder;
  margin-top: 20px;
  font-size: 16px;
}
.carousel__item {
  /* border: 1px solid blue; */
  color: whitesmoke;
  padding: 15px;
}
/* end carousel */

.item__content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  height: 300px;
  background: white;
  color: #888888;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  padding: 50% 0px;
}

.item__content::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  width: 7px;
  height: 0px;
  background: rgb(180, 22, 22);
  display: block;
}
.item__content:hover::after {
  height: 100%;
  transition: 0.7s;
}

.slick-dots li button:before {
  color: silver;
  opacity: 0.8;
  font-size: 10px;
}

.slick-dots li.slick-active button:before {
  color: #e62b4a;
  opacity: 0.8;
  font-size: 10px;
}

@keyframes arrowsAnimation {
  from {
    transform: translateY(0px);
    opacity: 1;
  }

  to {
    transform: translateY(100px);
    opacity: 0;
  }
}

/* star blog */
.blog__title {
  text-align: center;
  padding: 80px 0;
  font-size: 50px;
}
.blog__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 100%;
  gap: 30px;
  aspect-ratio: 1 / 1;
}

.blog__item {
  overflow: hidden;
  /* aspect-ratio: 1 / 1; */
}
.blog__item.item-1 {
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.blog__item.item-8 {
  grid-column: 3 / 5;
  grid-row: 3 / 5;
}
.blog__item .blog__overlay {
  background-color: rgba(230, 43, 74, 0.6);
  widows: 100%;
  height: 100%;
  transition: 0.3s;
  opacity: 0;
  color: white;
  position: relative;
}
.overlay__search {
  position: absolute;
  width: 50%;
  height: 50%;
  background: #000;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(100px);
}
.blog__overlay-hover {
  transition: 0.3s;
  transform: translateY(70px);
}

.blog__item :hover .blog__overlay-hover {
  transform: translateY(0px);
}
.blog__item:hover .blog__overlay {
  opacity: 1;
}

.overlay__title {
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.blog__item:hover .blog__overlay {
  opacity: 1;
  transform: translateY(0px);
}
/* end blog  */
.blog__item img {
  width: 100%;
  height: 100%;
  filter: grayscale(50%) contrast(50%);
  object-fit: cover;
  transition: all 0.5s;
}
.blog__overlay {
  top: 0px;
  left: 0px;
}
